body {
    font-family: "Bodoni Moda", serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.cards {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 250px; /* Aumentado de 200px a 250px */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px; /* Aumentamos la altura de la imagen para que se vea más grande */
    object-fit: cover;
}

.card h3, .card p {
    margin: 10px;
}

.details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.details h2 {
    margin-top: 0;
}

.details button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
h1{
    font-size: 250;
}